streamlit==1.19.0
pandas==1.5.3
lasio==0.22.1
plotly.subplots==0.1.0
plotly.graph_objects==0.18.2
plotly.express==0.4.1
numpy==1.24.1
matplotlib.pyplot==3.7.1
PIL==9.4.0
missingno==0.5.1
requests==2.28.1
io==0.7.0
pygwalker==0.1.0
